.Footer{
    height: 5vh;
    background-color: rgb(63, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-footer{
    display: flex;
    align-items: center;
    
}
.center-footer h3{
    margin: 0 .3rem;
    color: rgb(233, 201, 201);
}
.center-footer h3 a{
    text-decoration:none;
    font-size: 1.3rem;
    color: rgb(233, 201, 201);
    font-weight: 800;
}
.center-footer span{
    margin: 0 .3rem;
}
.SideMenu{
    min-height: 95vh;
    width: 300px;
    background-color: rgb(16, 16, 57);
    
}
.Search-bar{
    display: flex;
    padding-left: 2rem;
    margin: 2.4rem 0;
}
.Search-bar input{
    background-color: rgb(16, 16, 57);
    outline: none;
    border:1px solid rgba(89, 89, 191, 0.9);
    padding: .5rem .9rem;
}
.Search-bar button{
    padding: 0 .5rem;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgba(89, 89, 191, 0.9);
}
.app-properties{
    display: flex;
    align-items: center;
    background-color:rgba(89, 89, 191, 0.3) ;
    padding-left: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: .7rem;
    padding-bottom: .4rem;
    margin: 2.4rem 0;
    text-decoration: none;
}
.extra-margin{
    color: rgb(145, 143, 143);
    margin-top: 8rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}
.app-properties:hover{
    background-color: rgba(89, 89, 191, 0.1);
}
.feature-name{
    padding-left: .3rem;
}
.extra-margin .feature-name{
    color: rgb(145, 143, 143);
}
.extra-margin .feature-name:hover{
    color: rgba(97, 96, 96, .4);
}

.Active{
    padding-left: 1.3rem;
    width: 200px;
    background-color: rgba(89, 89, 191, 0.1);
}
.last-active-head{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1.4rem 0;
}
.active-users h3{
    font-size: 1.2rem;
    padding: .7rem 0;
    cursor: pointer;
    font-weight: 600;
}
